<div class="container-fluid help">
    <div class="row">
        <div class="col-xs-12">
            <h2>Wie bekomme ich GLaDOS in meinen Channel?</h2>
            <p><code>/invite GLaDOS #channel</code></p>

            <h2>Wie werde ich GLaDOS wieder los?</h2>
            <p><code>/kick GLaDOS</code></p>

            <h2>Wie kann ich Channellogs de-/aktivieren?</h2>
            <p>Siehe <a href="/plugins#logs">Channel Logs</a>.</p>

            <h2>Wieso kann ich XYZ nicht machen?</h2>
            <p>Vermutlich hast du nicht die nötigen Rechte dazu. Manche Befehle können nur von Channel-Operatoren genutzt werden.</p>
        </div>
    </div>
</div>